{% extends "index.html" %}

{% block title %}
<title> YesYesGram - About </title>
{% endblock %}

{% block content %}
<div id="about">
<h1> About </h1>
<h2> How to play </h2>
    <p> The numbers in every row and every column show you how many fields
        you have to mark in that row/field. <br />
        You can find detailed information on how to play the game in the
        <a href="http://en.wikipedia.org/wiki/Nonogram">Wikipedia Article</a>
    </p>
<h2> About this website</h2>
    <p> This website was primarilly made to create a nonogram game that is
        playable without any plugins and also on touch devices
    </p>
<h2> Found a bug? Got a wish?</h2>
    <p> You can submit bugs and wishes on the <a href="https://github.com/grumler/YesYesGram/issues">issue tracker</a> on github </p>
<h2> For the nerds </h2>
    <p> The website uses <a href="http://pocoo.org/flask/">Flask</a> to create
        the puzzles and javascript to check them. If you want to have a look 
        at the source code feel free to do so on the <a href="https://github.com/grumler/YesYesGram">
        github page</a>
    </p>
</div>
{% endblock %}
